/*----------------------------------------------------------------------+
 |    ADD YOUR STYLES HERE                                              |
 +----------------------------------------------------------------------*/

 .brand-logo {
     left: 15px;
 }

 .learn-more {
     text-transform: uppercase;
     padding: 5px 0 0 30px;
 }

 span.logo {
     cursor: pointer;
 }

div.row .col {
    padding: 10px;
}