/*----------------------------------------------------------------------+
 |    ADD YOUR STYLES HERE                                              |
 +----------------------------------------------------------------------*/

body {
    padding: 2rem;
    background-color: aliceblue;
}

span {
    background-color: rgb(250, 233, 195);
}

.jumbotron {
    background-color: white;
}

@media all and (max-width: 480px) {
    .btn-block-xs {
        width: 100%;
        display: block;
    }
}
