<p>Your NodeJS PWA (Progressive Web App) is based upon the Express framework and the EJS template engine. On the client side you have to deal
  with jQuery and Bootstrap. If you like to write your scripts with the modern ECMAScript syntax, feel free to do so. 
  CSS pre-processing is accomplished using a SASS compiler. And a set of free icons is provided by 
  Font Awesome. You can <b>learn more</b> about any of them by clicking a button below.</p>
<a class="btn btn-info btn-lg" href="https://expressjs.com" target="_blank" role="button"><i class="fab fa-erlang"></i> Express</a>
<a class="btn btn-warning btn-lg ml-2" href="https://ejs.co/" target="_blank" role="button"><i class="fas fa-code"></i> EJS</a>
<a class="btn btn-success btn-lg ml-2" href="https://jquery.com/" target="_blank" role="button"><i class="fab fa-forumbee fa-rotate-270"></i> jQuery</a>
<a class="btn btn-secondary btn-lg ml-2" href="https://getbootstrap.com/" target="_blank" role="button"><i class="fab fa-bootstrap"></i> Bootstrap</a>
<a class="btn btn-primary btn-lg ml-2" href="https://sass-lang.com/" target="_blank" role="button"><i class="fab fa-sass"></i> SASS</a>
<a class="btn btn-danger btn-lg ml-2" href="https://fontawesome.com/" target="_blank" role="button"><i class="fab fa-font-awesome-flag"></i> Font Awesome</a>