<p>
    Your project is based upon the Express framework and the EJS template engine. The following links help you to learn more about both of them:<br>
    <ul>
      <li><a href="https://ejs.co/" target="_blank">EJS: Embedded JavaScript templating</a></li>
      <li><a href="https://expressjs.com" target="_blank">Express: Web framework for NodeJS</a></li>
    </ul>
  </p>