<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Set title here</title>
  <meta name="description" content="Add a description here">
  <meta name="keywords" content="Add keywords here">

  <!-- Favicons -->
  <link rel="shortcut icon" href="favicon.ico">
  <link href="assets/img/favicon_extra/favicon.png" rel="icon">
  <link href="assets/img/favicon_extra/apple-touch-icon.png" rel="apple-touch-icon">
  <meta name="msapplication-TileImage" content="assets/img/favicon_extra/mstile-144x144.png">
  <meta name="msapplication-TileColor" content="#00aba9">

  <!-- Main CSS File -->
  <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="jumbotron">
    <!-- EJS: This is how you set a marker. The replacement is done in app.js -->
    <h1 class="display-4"><%=complete %></h1>
    <p class="lead">Start by editing this page. You´ll find it in the "views" folder (index.ejs). To add some
      functionality check out the main.js file in the "src" folder.</p>
    <hr class="my-4">
    <!-- EJS: This is how you include a partial -->
    <%- include('partials/learn_more') -%>
  </div>

  <button type="button" class="btn btn-sm btn-dark mr-2" data-toggle="popover"
    title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle
    popover</button>

  <button id="alert" type="button" onmouseup="showAlert();" class="btn btn-sm btn-outline-dark">Click to show an alert.</button>

  <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>