<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Set title here</title>
  <meta name="description" content="Add a description here">
  <meta name="keywords" content="Add keywords here">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <!-- Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Main CSS File -->
  <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="jumbotron shadow-sm">
    <!-- EJS: This is how you set a marker. The replacement is done in app.js -->
    <h1 class="display-4"><%=complete %></h1>
    <p class="lead">Start by editing this page. You´ll find it in the "views" folder (index.ejs). To add some
      functionality check out the main.js file in the "src" folder.</p>
    <hr class="my-4">
    <!-- EJS: This is how you include a partial -->
    <%- include('partials/learn_more') -%>
  </div>

  <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>